@import "../utils/variables";

.header {
  position: relative;
  padding: 0 40px 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $mainpeach;
}

.main-title {
  font-family: 'Lato';
  color: $mainblue;
  font-weight: 700;
}

.header-menu {
  color: $mainblue;
  font-size: 18px;
  z-index:10;
  transition: all 200ms ease;
}

.toggle-container{
  position:relative;
  left: -80px;
}
