.btn-start {
  width: 50%;
  height: 50px;
  background-color:$mainblue;
  border-radius:4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  cursor: pointer;
  transition: 0.5s;
}

.btn-repeat {
  border-radius: 50%;
  width: 50%;
}
