@import "../utils/variables";

.flex-wrapper {
  padding: 0 20px 0 20px;
  margin-top: 20px;
  justify-content: space-between;
  max-width: 1020px;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 2%;
}

.flex__item {
  display: flex;
  width: 30%;
  flex-direction: column;
  background-color: $mainpeach;
  border-radius: 3%;
}

.flex__img {
  margin-top: 2%;
  align-self: center;
  object-fit: scale-down;
  width: 80%;
  border-radius: 25%;
}

.category-name {
  flex-shrink: 0;
  width:100%;
  background-color: $mainblue;
  border-radius: 4px;
  height: 30px;
  margin-bottom: 0;
}

.category-label,
.category-name {
  text-align: center;
  font-family: 'Lato';
  color: $mainskiny;
  font-size: 24px;
}

.flex__item-flipper {
  display: flex;
  width: 30%;
  height: 24%;
  flex-direction: column;
  border-radius: 3%;

  perspective: 1000px;
}

.flex__flipper {
  width: 100%;
  height: 80%;
  position: relative;

  transition: 0.6s;
	transform-style: preserve-3d;
}

.flex-front,
.flex-back {
  position: absolute;
	top: 0;
  left: 0;

  backface-visibility: hidden;
  display: flex;
  flex-direction: column;

  background-color: $mainpeach;
  border-radius: 3%;
}


.flex-front {
  z-index: 5;
}

.flex-back {
  transform: rotateY(180deg);
}


.flip-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: $mainblue;
}

.flip {
  transform: rotateY(180deg);
}

