.modeToggle-label {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  font-style: normal;
  color: #000;
  border-radius: 14px;
  background-color: rgb(119, 136, 153);
  transition: all 1s ease-in;
  cursor: pointer;

  &::after {
    content: "Go-go!";
    position: absolute;
    top:0;
    color: rgb(255, 215, 0);
    font-weight: 700;
    left: 35px;
	  transition: all 200ms ease;
  }
  &::before {
    content: "Click to play";
    position: absolute;
    top: 0;
    right: 50px;
    width: 150px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    color: rgb(70, 130, 180);

  }
}

.switch-btn {
  position: relative;
	top: -3px;
	right:10px;
	width: 36px;
	height: 36px;
	display: block;
	border-radius: 36px;
	background: rgb(70, 130, 180);
  transition: all 200ms ease;
  &::before {
    content: "";
	  display: block;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  width: 18px;
    height: 18px;
    background-color:  rgb(255, 255, 255);
	  margin: -9px 0 0 -9px;
	  border-radius: 18px;
  }
  &::before:hover {
    background-color: rgb(255, 215, 0);
  }
}

.modeToggle[type=checkbox]:checked ~ .modeToggle-label {
	background: rgb(99, 134, 180)
}

.modeToggle[type=checkbox]:checked ~ .modeToggle-label {
  &::before {
	  content: "Click to learn";
    right: -170px;
  }
  &::after{
    content: "Stop!";
    left: 20px;
  }
}
.modeToggle[type=checkbox]:checked ~ .modeToggle-label span {
	right: -70px;
}

.modeToggle[type=checkbox]:checked ~ .switch-btn{
	&::before {
    background-color: rgb(255, 215, 0);
  }
}

.modeToggle{
  opacity: 0;
}
